@import url('https://use.typekit.net/fjq7zjb.css');
@import '@splidejs/react-splide/css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: transparent;
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.horizontalScrollbar::-webkit-scrollbar {
  height: 8px;
}

.horizontalScrollbar::-webkit-scrollbar-track {
  background-color: theme('colors.grey.100');
  border-radius: 2px;
}

.horizontalScrollbar::-webkit-scrollbar-thumb {
  background: theme('colors.blue.200');
  border-radius: 4px;
}

.horizontalScrollbar::-webkit-scrollbar-thumb:hover {
  background: theme('colors.blue.300');
}

/* scrollbar */

*:focus-visible {
  outline-color: theme('colors.gray.100');
}
