@import url('https://use.typekit.net/fjq7zjb.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply rounded py-2 px-3 ring-1 ring-orange-100/50 ring-offset-2  ring-offset-yellow-50/80 print:ring-offset-orange-700/50;
  }
  .card-loading {
    @apply flex  flex-col gap-4 rounded-md bg-gradient-to-br from-gray-200 to-gray-100 p-6;
  }
  .card-loading .card-item-loading {
    @apply animate-pulse rounded bg-gradient-to-r from-slate-400/60 to-slate-300/80;
  }
  .card-loading-orange {
    @apply card-loading from-orange-300 to-orange-100;
  }
  .card-loading-orange .card-item-loading {
    @apply from-slate-50/60 to-slate-200/50;
  }
  .field {
    @apply flex w-full sm:w-auto;
  }
  .field-control {
    @apply w-full rounded-sm border-2 border-grey-400 bg-white p-2 caret-blue-500 transition placeholder:text-grey-300 hover:border-blue-500 focus:border-teal-500 focus:outline-none focus:invalid:border-pink-700 disabled:border-grey-400 disabled:bg-grey-100;
  }
  .field-error-text {
    @apply my-1 hidden text-left text-sm font-light text-pink-800 peer-invalid:block;
  }
  .field-help-text {
    @apply my-1 text-left text-sm font-light;
  }
  .tab-button {
    @apply mb-0 mt-2 flex items-end gap-1 whitespace-nowrap rounded-t-lg border-x-2 border-t-2 bg-white/50 py-2 px-7 text-lg text-orange-700 md:py-4 md:text-xl;
  }
  .tab-panel {
    @apply rounded border-2 border-orange-500 bg-white p-3;
  }
  .pill {
    @apply w-fit rounded-xl bg-gray-200 py-0.5 px-3 text-center text-gray-700;
  }
  .pill-success {
    @apply pill bg-emerald-300/40;
  }
  .pill-warning {
    @apply pill bg-yellow-400/30;
  }
  .pill-error {
    @apply pill bg-orange-300/40;
  }
  .btn {
    @apply flex h-fit w-fit items-center justify-center gap-2 rounded-md px-2 py-2 tracking-wide transition ease-in-out hover:scale-105 focus:scale-105 disabled:cursor-not-allowed;
  }
  .btn-orange {
    @apply bg-orange-100 text-grey-500 hover:bg-orange-50 focus:bg-yellow-300 disabled:bg-gray-300;
  }
  .btn-yellow {
    @apply bg-yellow-100 text-grey-500 hover:bg-yellow-50;
  }
  .btn-text-blue {
    @apply font-normal text-blue-600 underline decoration-blue-400/80 underline-offset-1 hover:bg-white;
  }
  .btn-text-slate {
    @apply font-normal text-slate-700 underline decoration-slate-600/80 underline-offset-1 hover:text-slate-800;
  }
}

/* scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #295f7199 #080e1f5d;
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #080e1f5d;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #295f7199;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e62e0099;
}

.horizontalScrollbar::-webkit-scrollbar {
  height: 8px;
}

.horizontalScrollbar::-webkit-scrollbar-track {
  background-color: theme('colors.grey.100');
  border-radius: 2px;
}

.horizontalScrollbar::-webkit-scrollbar-thumb {
  background: theme('colors.blue.200');
  border-radius: 4px;
}

.horizontalScrollbar::-webkit-scrollbar-thumb:hover {
  background: theme('colors.blue.300');
}

.hiddenScrollbar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

/* scrollbar */

*:focus-visible {
  outline-color: theme('colors.gray.100');
}
::-webkit-file-upload-button {
  color: theme('colors.orange.600');
  background-color: theme('colors.white');
  border: solid 1px theme('colors.orange.500');
  border-radius: 4px;
}
::-ms-browse {
  color: theme('colors.orange.600');
  background-color: theme('colors.white');
  border: 2px white;
  border-radius: 4px;
  box-shadow: 1px 1px 16px -8px theme('colors.orange.600');
}
/* TODO fix with postcss url plugin */
/*select {
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
/* Some browsers will not display the caret when using calc, so we put the fallback first */
/* background: url('../public/img/expand_more.svg') white no-repeat 98.5%;
  background: url('../public/img/expand_more.svg') white no-repeat calc(100% - 8px); Better placement regardless of input width 
}*/
