@import url('https://use.typekit.net/fjq7zjb.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #295f7199 #080e1f5d;
}

/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #080e1f5d;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #295f7199;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e62e0099;
}

.horizontalScrollbar::-webkit-scrollbar {
  height: 8px;
}

.horizontalScrollbar::-webkit-scrollbar-track {
  background-color: theme('colors.grey.100');
  border-radius: 2px;
}

.horizontalScrollbar::-webkit-scrollbar-thumb {
  background: theme('colors.blue.200');
  border-radius: 4px;
}

.horizontalScrollbar::-webkit-scrollbar-thumb:hover {
  background: theme('colors.blue.300');
}

.hiddenScrollbar::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

/* scrollbar */

*:focus-visible {
  outline-color: theme('colors.gray.100');
}

/* TODO fix with postcss url plugin */
/*select {
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
/* Some browsers will not display the caret when using calc, so we put the fallback first */
/* background: url('../public/img/expand_more.svg') white no-repeat 98.5%;
  background: url('../public/img/expand_more.svg') white no-repeat calc(100% - 8px); Better placement regardless of input width 
}*/
